{% extends 'base.jinja' %}

{% block title %}Login Page{% endblock %}

{% block body %}

    <h1><center>You need to login in order to see all the information<center><h1>
    
    <a href="login" class="btn btn-primary">login</a>
    <a href="register" class="btn btn-primary">register</a>

    
{% endblock %}