{% extends 'base.jinja' %}

{% block title %}Register For Boarding Schools{% endblock %}

{% block body %}  

    <form method = "post">
        <input type = "text" name = "name" id = "name" placeholder = "name">
        <input type = "text" name = "location" id = "location" placeholder = "location">
        <input type = "text" name = "tuitionfee" id = "tuitionfee" placeholder = "tuitionfee">
        <input type = "text" name = "size" id = "size" placeholder = "size">
        <input type = "text" name = "matriculation" id = "matriculation" placeholder = "matriculation">
        <input type = "text" name = "rank" id = "rank" placeholder = "rank">
        <input type = "submit" value = "Send">
        
    </form>



{% endblock %}